<!DOCTYPE html>
<html>
<head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>АдминПанель</title>
    {% endif %}

    <link rel="stylesheet" href="{{ url_for('.static', filename='css/styles.css') }}">
</head>
<body>
    
    <!--Заголовок-->
    <header>
        {% if title %}
        <h1>{{ title }}</h1>
        {% else %}
        <h1>Админка</h1>
        {% endif %}

        <nav>
            <a href="{{ url_for('.index') }}">Админка</a>
            <a href="{{ url_for('.add_tovar') }}">Добавить товар</a>
            <a href="{{ url_for('.all_users') }}">Пользователи</a>
            <a href="{{ url_for('index') }}" id="strong_a"><u>Магазин</u></a>
        </nav>
    </header>

    {% block content %}
    {% endblock %}

</body>
</html>