{% extends 'base.html' %}
{{ super() }}

{% block content %}

<div class="add_post_block">
    <form action="{{ url_for('add_post') }}" method="POST">
        <!--Название поста-->
        <div class="post_name post_create_block">
            <p>Название поста:</p>
            <input type="text" name="post_name">
        </div>

        <!--Теги поста-->
        <div class="post_tag post_create_block">
            <p>Тег для поста:</p>
            <input type="text" name="post_tag">
        </div>

        <!--Содержимое поста-->
        <div class="post_content post_create_block">
            <p>Содержимое поста:</p>
            <textarea name="post_content" id="" cols="30" rows="10"></textarea>
        </div>

        <!--Кнопка создания-->
        <div class="post_submit post_create_block">
            <input type="submit" value="Создать">
        </div>
    </form>
</div>

{% endblock %}