
{% extends 'base.html' %}
{{ super() }}

<!--Основной контент-->
{% block content %}

{% for cat, msg in get_flashed_messages(True) %}
<div class="flash_messages_here {{ cat }}">
    <p>
        {{ msg }}
        <i class="line"></i>
    </p>
</div>
{% endfor %}

<div id="reg_block">
    <form action="{{ handler }}" method="POST">
        <input type="text" name="login" placeholder="Логин">
        <input type="password" name="pass" placeholder="Пароль">

        {% if registrate == True %}
        <input type="password" name="pass2" placeholder="Введите пароль ещё раз">
        {% endif %}

        {% block checkbox_place %}
        {% endblock %}

        <input type="submit" value="{{ value_button }}">
    </form>

    <a href="{{ url_ask }}" class="go_other">{{ text_ask }}</a>
</div>


{% endblock %}